
* {
	margin: 0 auto;
}

body {
	background:white;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	}

div {
	text-align: justify;
  text-justify: inter-word;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#header {
	position:static;
	top:0px;
	left:0px;
	background:#0B2027;
	height:300px;
	width:100%;
}

#header h1 {
	padding-top: 75px;
	text-align: center;
	color:#70A9A1;
	font-size: 100px;
	font-weight: 500;
}

#header h2 {
	text-align: center;
	color:white;
	font-size: 20px;
	font-weight: 100;
	padding-top: 10px;
	word-spacing: 5px;
}

#header h3 {
	text-align: center;
	color:white;
	font-size: 10px;
	font-weight: 100;
	padding-top: 5px;
}

#subheader {
	padding-top: 30px;
	position: static;
	background: white;
	width: 1000px;
	height:150px;

	text-align: justify;
	text-justify: inter-word;
	display: -webkit-flex; /* Safari */
	-webkit-justify-content: space-around; /* Safari 6.1+ */
	display: flex;
	justify-content: space-around;
}

#subheader p {
	padding-right: 150px;
	padding-left: 150px;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 22px;
}

#navwrap {
	padding-bottom: 20px;
}

#nav {
	width: 1000px;
	word-spacing:5px;
	display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  display: flex;
  justify-content: space-around;
}

#page-wrap {
	 padding-top: 25px;
}

.slide {
	background: white;
	height:1000px;
	width:1000px;
	padding-top:10px;
}

.slide h1 {
	color:#70A9A1;
	font-size: 60px;
	font-weight: 100;
	text-align: center;
}

.slide h2 {
	color:#0B2027;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
}

.slide p {
	padding-left: 100px;
	padding-right: 100px;
}

.slideButton, .button {
    background-color: white;
    border: 5px solid #70A9A1;
    color: #70A9A1;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 950;
}

.page-padding {height:100px; width:100%;}

a {
	color:white;
	text-decoration:none;
}

a:hover {
	background-color: #70A9A1; color: white;
}

.arc text {
	font: 20px sans-serif;
	/*text-anchor: middle;*/
	fill:black;
}

.arc path {
	stroke: #fff;
}

.arc path:hover {
	fill-opacity: .7;
	cursor: pointer;
}

#rs text {
	font-size: 30;
	alignment-baseline: middle;
}

#rs rect:hover {
	stroke: white;
	stroke-width: 3;
}

#diversebuttons{
	padding-left: 350px;
	padding-top: 40px;
}

#redSlider, #blueSlider {
	width: 260px;
}

#curvepath{
	fill: none;
	stroke-width: 2px;
}

#community text{
	fill: black;
	font-size: 20;
}
#explanation {
	font-style: italic;
	font-size: 15 !important;
}

body { font-family: 'Raleway', Helvetica; font-weight: 300; padding: 20px;}
th { text-align: middle; }
th, td { padding: 0 1em 0.5ex 0;}
th.center, td.center { text-align: center; }

td.gay span {
	display:none;
}

td.straight span {
	display:none;
}

td.gay:after {
	color: white;
	background-color: #70A9A1;
	display: block;
	width: 25px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	content: '';
	font-size: 20px;
}

td.straight:after {
	color: white;
	background-color: #3A506B;
	display: block;
	width: 25px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	content: '';
	font-size: 20px;
}

td.green span {
	display: none;
}

td.green:after {
	color: white;
	background-color: #304FFD;
	display: block;
	width: 150px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	content: '\2714';
	font-size: 40px;
}

td.red span{
	display: none;
}

td.red:after {
	color: white;
	background-color: #F8333C;
	display: block;
	width: 150px;
	height: 50px;
	text-align: center;
	vertical-align: middle;;
	content: '\2716';
	font-size: 40px;
}

span.blue {

	color: black;
	opacity:.75;
	background-color: #FFBF46;
	display: block;
	width: 150px;
	height: 50px;
	font-size: 25px;
	text-align: center;
	border-radius: 5px;
}
#hands div {
  display: inline-table;
}

#rowcontainer {
  width:100%;
  padding-bottom: 40px;
}

#rowcontainer div {
  display: inline-table;

}

#handcontainer {
  width: 70%;
  height: 50%;
}

#handcontainer div {

display: inline-table;

}

#whitehand {
  width:35%;
}

#blackhand{
  width: 35%;
}

#textcontainer {
  width: 70%;
}

#textcontainer div {
  display: inline-table;
}

#textbox1{
  width: 35%;
  font-size: 90px;
  text-align: center;
  font-weight: 700;
}
#textbox2{
  width: 65%;
  font-size: 50px;
  text-align: left;
}
